.locations--div{
    background-image: url("../../images/firstW.jpg");
    height: 100%;
    .locations{
        width: 60%;
        margin-top: 60px;
        margin-left: 400px;
        margin-bottom: 100px;
    }
}